[Unit]
Description=Solarmon
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u solarmon.py
WorkingDirectory=/home/ieb/solarmon.git
StandardOutput=inherit
StandardError=inherit
Restart=always
User=ieb

[Install]
WantedBy=multi-user.target
