[Unit]
Description=Metermon
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u metermon.py
WorkingDirectory=/home/ieb/solarmon/meters
StandardOutput=inherit
StandardError=inherit
Restart=always
User=ieb

[Install]
WantedBy=multi-user.target
